<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mongmong.namo">
    <!-- 카카오맵 API 권한추가 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 갤러리 이미지 가져오기 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" /> <!-- 푸시알림 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" /> &lt;!&ndash; 광고 &ndash;&gt; -->
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />

    <application
        android:name=".presentation.config.ApplicationClass"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NaMo"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".presentation.ui.home.diary.DiaryImageDetailActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.onBoarding.OnBoardingActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.auth.RegisterActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".presentation.ui.MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentation.ui.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao${KAKAO_API_KEY}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.ui.home.schedule.map.MapActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentation.ui.home.schedule.ScheduleActivity"
            android:exported="false"
            android:theme="@style/SlideAnimation" />
        <activity
            android:name=".presentation.ui.home.diary.DiaryActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.community.CommunityCalendarActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.community.moim.schedule.MoimScheduleActivity"
            android:exported="false"
            android:theme="@style/SlideAnimation" />
        <activity
            android:name=".presentation.ui.community.moim.diary.MoimDiaryDetailActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentation.ui.home.diary.PersonalDiaryDetailActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".presentation.ui.community.alert.FriendAlertActivity"/>
        <activity android:name=".presentation.ui.community.moim.schedule.FriendInviteActivity"/>
        <activity android:name=".presentation.ui.setting.profile.ProfileEditActivity"/>

        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="${KAKAO_API_KEY}" />

        <receiver
            android:name=".presentation.ui.home.notify.PushNotificationReceiver"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>